.footer {
	padding-top: 20px;
	border-top-color: rgb(229, 229, 229);
	border-top-style: solid;
	border-top-width: 1px;
}

@media print {
	a[href]:after {
    	content: none !important;
  	}
	.navbar, #posted, .footer {
		display: none;
	}
}