{{ define "head" }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Meta.Title }}</title>
<link
		rel="stylesheet"
		href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script
		src="/bower_components/jquery/dist/jquery.min.js">
</script>
<script
		src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
</script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
	});
</script>
<script
		src="/bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script
		src="/bower_components/highlightjs/highlight.pack.js">
</script>
<link
		rel="stylesheet"
		href="/bower_components/highlightjs/styles/github.css">
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="/css/main.css">
	{{ if .Preview }}
	<script src="/js/preview.js"></script>
	{{ end }}
{{ end }}

{{ define "nav" }}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a
					class="navbar-brand"
					href="/">
					etherealmachine.github.io
			</a>
		</div>
		<div class="navbar-right">
			<p class="navbar-text">
				{{ if .Preview }}
				<span id="offline-label" class="invisible label label-danger">Offline</span>
				{{ end }}
				{{ if not .Meta.Published }}
				<span class="label label-warning">Unpublished</span>
				{{ end }}
			</p>
		</div>
	</div>
</nav>
{{ end }}

{{ define "footer" }}
<footer class="footer">
	<p>
	Designed and built by <a href="https://github.com/etherealmachine">etherealmachine</a>
	</p>
	<p>
		Looks awesome because of
		<a href="http://getbootstrap.com/">bootstrap</a>,
		<a href="https://github.com/etherealmachine/blackfriday">blackfriday</a>,
		<a href="http://daringfireball.net/projects/markdown/">markdown</a>,
		<a href="https://highlightjs.org/">highlightjs</a>,
		and <a href="https://www.mathjax.org/">MathJax</a>
	</p>
	<iframe
			src="https://ghbtns.com/github-btn.html?user=etherealmachine&type=follow&count=true"
			frameborder="0"
			scrolling="0"
			width="170px"
			height="20px">
	</iframe>
	<iframe
			src="https://ghbtns.com/github-btn.html?user=etherealmachine&repo=etherealmachine.github.io&type=star&count=true"
			frameborder="0"
			scrolling="0"
			width="100px"
			height="20px">
	</iframe>
	<iframe
			src="https://ghbtns.com/github-btn.html?user=etherealmachine&repo=etherealmachine.github.io&type=fork&count=true"
			frameborder="0"
			scrolling="0"
			width="100px"
			height="20px">
		</iframe>
</footer>
{{ end }}